[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statistics = "*"
pathlib = "*"
datetime = "*"
tabulate = "*"
numpy = "*"
pandas = "*"
plotly = "*"
wxpython = "*"
jinja2 = "*"
psycopg = {extras = ["pool"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
